*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.sidebar{
    background-color: #0ea5e9;
    color: white;
    font-size: 1.75rem
}

.sidebar i{
    padding-right: 1rem;
}

.sidebar li{
    list-style: none;
    padding-top: 1rem;
}

.sidebar-header{
    font-size: 3rem;
    padding: 1rem;
}

.sidebar-list{
    padding-bottom: 4rem;
}



.content{
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.content-top{
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.sidebar-header{
    display: flex;
    align-items: baseline;
    padding-bottom: 3rem;
}

.top-upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
}

.search-bar-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-bar-container *{
    height: 2rem;

}

#search-icon{
    font-size: 2rem;
}

#search-bar{
    background-color: #d1d5db;
    height: 2.5rem;
}

.search-bar-container p{
    width: 40rem;
    border-radius: 1rem;
}

#sloth-pic{
    width: 4rem;
    border-radius: 100%;
}

.notification{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.notification i{
    color: black;
    font-size: 2rem;
}

.notification p{
    font-size: 1.5rem;
}

.top-lower{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
}

.greeting{
    display: flex;
    align-items: center;
    gap: 2rem;
}

#greeting-photo{
    width: 7rem;
    border-radius: 100%;
}

.greeting-message{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.greeting-message :first-child{
    font-size: 1.5rem;
}

.greeting-message :last-child{
    font-size: 2rem;
}

.buttons-container{
    display: flex;
    gap: 3rem;
}

.buttons{
    background-color: #0ea5e9;
    color: white;
    width: 10rem;
    height: 4rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.content-main{
    /* border: 1px teal solid; */
    background-color: #d1d5db;
    display: grid;
    grid-template-columns: 8fr 2fr;
}

.main-left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.projects{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    border-left: #c6c5ff 10px solid;
}

.project-name{
    font-size: 2.5rem;
    font-weight: bolder;
}

.project-detail{
    font-size: 1.5rem;
    font-weight: 550;
}

.project-icons{
    align-self: flex-end;
    color: black;
}

.project-icons i{
    padding: 0.5rem;
    font-size: 2rem;
}






.main-right{
    display: grid;
    grid-template-rows: 60% calc(40% - 2rem);
    padding: 2rem;
    gap: 2rem;
}

.announcements{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
}



.announcement{
    padding: 2rem;
    /* border-bottom: 1px solid red; */
    background: linear-gradient(gray,gray) bottom no-repeat;
    background-size:80% 3px;
}

.announcements :last-child{
    border: none;
    background: none;
}

.announcement-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.announcement-detail{
    font-size: 1rem;
}

.trending{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 2rem;
    background-color:rgba(255, 255, 255, 0.65);
    border-radius: 15px;
}

.trend{
    display: flex;
    align-items: center;
}

.trend-img{
    padding-right: 1rem;
}

.trend-img img{
    width: 5rem;
    border-radius: 100%;
}